RewriteEngine on
Options -Indexes
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#RewriteRule ^(.*)$ https://rapidsharely.com/$1 [L,R=301]
RewriteRule ^$ index.php [NC,L]
RewriteRule ^services([/]?)$ services.php [NC,L]
RewriteRule ^industries-we-serve([/]?)$ industries-we-serve.php [NC,L]
RewriteRule ^mobile-development([/]?)$ mobile-development.php [NC,L]
RewriteRule ^software-development([/]?)$ software-development.php [NC,L]
